

<div class="container mx-md-auto col-md-6 m-2">    

    <h1 class="display-4 text-danger">Доступ запрещён</h1>
    <p class="lead">У вас нет прав для просмотра этой страницы.</p>
    <p>Если вы считаете, что это ошибка, обратитесь к администратору.</p>

    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-home">
        <i class="fas fa-home me-2"></i> Вернуться на главную
    </a>
</div>
