@using MyForms.Models.VM.TemplateVMs
@inject IStringLocalizer<SharedResource> SharedLocalizer

@model TemplateCreateVM
<form method="post" enctype="multipart/form-data">
    <div class="container col-md-8 mx-auto my-4">
        <partial name="_TemplateSettingsPartial" model="@Model.TemplateSettingVM" />
        <partial name="_QuestionManagerPartial" model="@null"  />

        <div class="col-md-3 mx-md-auto">
            <input type="submit" value="@SharedLocalizer["CreateNew"]" class="btn btn-success w-100" />
        </div>
    </div>
</form>
